body {
    font-family: "DM Sans", sans-serif;
    background: #443627;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #424242;
    font-family: 'DM Sans', sans-serif;
}

body,
p,
span,
li,
label,
input,
textarea,
select,
button {
    color: #7c7c7c;
    font-family: 'DM Sans', sans-serif;
}

.sidebar {
    h2{
        color: #ffffff;
    }
}

body, p, span, li, label, input, textarea, select, button{
    color: unset;
}

.mainbar{
    width: calc( 100% - 12px);
}